---
layout: default
---

<!-- Page Header -->
{% if page.background %}
<header class="masthead" style="background-image: url('{{ page.background | prepend: site.baseurl | replace: '//', '/' }}')">
  {% else %}
  <header class="masthead">
    {% endif %}
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="post-heading">
            <h1>{{ page.title }}</h1>
            {% if page.subtitle %}
            <h2 class="subheading">{{ page.subtitle }}</h2>
            {% endif %}
            <span class="meta">Posted by
              <a href="#">{% if page.author %}{{ page.author }}{% else %}{{ site.author }}{% endif %}</a>
              on {{ page.date | date: '%B %d, %Y' }} &middot; {% include read_time.html
              content=page.content %}
            </span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">

        <div id="post-content"></div>

<hr>

<div id="comments"></div>

<script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>

<script>
const params = new URLSearchParams(window.location.search);
const id = params.get("id");

const repoOwner = "ArifRawf";
const repoName = "ArifRawf.github.io";

async function loadPost() {
  const res = await fetch(
    `https://api.github.com/repos/${repoOwner}/${repoName}/issues/${id}`
  );
  const issue = await res.json();

  // Update header dynamically
  document.querySelector(".post-heading h1").innerText = issue.title;

  document.querySelector(".post-heading .meta").innerHTML = `
    Posted by <a href="#">${issue.user.login}</a>
    on ${new Date(issue.created_at).toDateString()}
  `;

  document.getElementById("post-content").innerHTML =
    marked.parse(issue.body);
}

async function loadComments() {
  const res = await fetch(
    `https://api.github.com/repos/${repoOwner}/${repoName}/issues/${id}/comments`
  );
  const comments = await res.json();

  const container = document.getElementById("comments");
  container.innerHTML = "<h3>Comments</h3>";

  comments.forEach(comment => {
    const div = document.createElement("div");

    div.innerHTML = `
      <p><strong>${comment.user.login}</strong></p>
      <div>${marked.parse(comment.body)}</div>
      <hr>
    `;

    container.appendChild(div);
  });
}

loadPost();
loadComments();
</script>

        <hr>

        <div class="clearfix">

          {% if page.previous.url %}
          <a class="btn btn-primary float-left" href="{{ page.previous.url | prepend: site.baseurl | replace: '//', '/' }}" data-toggle="tooltip" data-placement="top" title="{{ page.previous.title }}">&larr; Previous<span class="d-none d-md-inline">
              Post</span></a>
          {% endif %}
          {% if page.next.url %}
          <a class="btn btn-primary float-right" href="{{ page.next.url | prepend: site.baseurl | replace: '//', '/' }}" data-toggle="tooltip" data-placement="top" title="{{ page.next.title }}">Next<span class="d-none d-md-inline">
              Post</span> &rarr;</a>
          {% endif %}

        </div>

      </div>
    </div>
  </div>
